* {
    padding: 0;
    margin: 0;
}

.nav li {
    display: block;
    -webkit-animation: fadein 1s;
  
}

.options ul {
    text-align: center;
    width: 100%;
}

.nav a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    display: block;
    text-align: center;
}


.landing {
    background: url(./images/back.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    transition-duration: 0.5s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.landing h1 {
    color: white;
}

.landingText {
    width: 50%;
    position: relative;
    top: 15%;
    left: 4%;
}

.landing h5 {
    color: rgb(110, 243, 199);
}

.landing li {
    display: inline-block;
}

.landingProd {
    position: relative;
    top: 36%;

    -webkit-animation: fadein 2s;
}

.landingProd img {
    margin: 50px 10px 0px 10px;
    border: 3px solid rgb(110, 243, 199);
    padding: 6%;
    border-radius: 10%;
}

.hide {
    display: none;
}

.landingProd img:hover {
    background-color: aquamarine;
}

.cctv {
    background: url(./images/cctv01.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    transition-duration: 0.7s;
}

.door {
    background: url(./images/door.jpg);
    background-size: cover;
    transition-duration: 0.7s;
    background-position: center;
}

.telephone {
    background: url(./images/tele.jpg);
    background-size: cover;
    transition-duration: 0.7s;
    background-position: center;
}

.wifi {
    background: url(./images/wifi.jpg);
    background-size: cover;
    transition-duration: 0.7s;
    background-position: center;
}

.scan {
    background: url(./images/scan.jpg);
    background-size: cover;
    transition-duration: 0.7s;
    background-position: center;
}

.elect {
    background: url(./images/elect.jpg);
    background-size: cover;
    transition-duration: 0.7s;
    background-position: center;
}

.nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    width: 100%;
    background-color: aliceblue;
    z-index: 1000;
    
  }
  
  .logo {
    padding-left: 20px;
  }
  
  .hamburger {
    padding-right: 20px;
    cursor: pointer;
  }
  
  .hamburger .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: black;
  }
  
  .nav__link {
    position: fixed;
    width: 100%;
    top: 5rem;
    background-color: aliceblue;
    
    -webkit-animation: expand 0.5s;
  }
  @keyframes expand {
    from{
        height: 0;
    }
    to{
        height: 40vh;
    }
  }
  
  .nav__link a {
    display: block;
    text-align: center;
    padding: 10px 0;
  }
  
  .nav__link a:hover {
    color: rgb(8, 90, 63);
  }
  
  .hide {
    display: none;
  }

  @media screen and (min-width: 800px) {
    .nav__link {
      display: block;
      position: static;
      width: auto;
      margin-right: 20px;
      background: none;
      -webkit-animation: none;
    }
  
    .nav__link a {
      display: inline-block;
      padding: 15px 20px;
      
    }
  
    .hamburger {
      display: none;
    }
    .nav li {
        display:inline-block;
      
    }
  }
