.navigation li{
    display: inline-block;
    padding: 3% 5% 0% 5%;
}
.options ul{
    text-align: center;
    width: 100%;
}
.navigation a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.navigation{
    position: fixed;
    width: 100%;
    background-color: rgba(230, 229, 194, 0.534);
    box-shadow: 1px 1px 1px 1px rgb(177, 177, 177);
    border-radius: 10%;
    }
.landing{
    background: url(./images/back.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
    width: 100%;
    transition-duration: 0.5s;
}
@keyframes fadein{
from{
    opacity: 0;
}
to{
    opacity: 1;
}
}
.landing h1{
    color: white;
}
.landingText{
    position: relative;
    top: 15%;
    left: 4%;
}
.landing h5{
    color: rgb(110, 243, 199);
}
.landing li{
    display: inline-block;
}
.landingProd{
    position: relative;
    top: 40%;
    left: 5%;
    -webkit-animation: fadein 2s;
}
.landingProd img{
    margin: 50px 10px 0px 10px;
    border: 3px solid rgb(110, 243, 199);
    padding: 6%;
    border-radius: 10%;
}
.hide{
    display: none;
}
.landingProd img:hover{
    background-color: aquamarine;
}

.cctv{
 background: url(./images/cctv01.jpg) no-repeat;
 background-position: center;
 background-size: cover;
 transition-duration: 0.7s;
}
.door{
    background: url(./images/door.jpg);
    background-size: cover;
    transition-duration: 0.7s;
    background-position: center;
}
.telephone{
    background: url(./images/tele.jpg);
    background-size: cover;
    transition-duration: 0.7s;
    background-position: center;
}
.wifi{
    background: url(./images/wifi.jpg);
    background-size: cover;
    transition-duration: 0.7s;
    background-position: center;
}
.scan{
    background: url(./images/scan.jpg);
    background-size: cover;
    transition-duration: 0.7s;
    background-position: center;
}
.elect{
    background: url(./images/elect.jpg);
    background-size: cover;
    transition-duration: 0.7s;
    background-position: center;
}